venv/
pycache/
*.pyc
.env
.vscode/
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
*.egg
__pycache__/
*.py[cod]
*$py.class
Windows/build/
Windows/dist/
Windows/*.spec
Windows/build.bat
Windows/*.svg
Windows/*make_icon.py
!Windows/HardwareMon.spec