[Desktop Entry]
Name=HardwareMon
Exec=hardwaremon
Icon=com.hardwaremon.HardwareMon
Type=Application
Categories=System;Monitor;
StartupNotify=true
StartupWMClass=com.hardwaremon.HardwareMon
